@CHARSET "UTF-8";
hr{
	margin: 5px;
}
#top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: inherit;
	height: 40px;
	margin-top: 10px;
}

#top h1{
	font-size: 20px;
	font-weight: 600;
	margin-right: 120px;
}

#top img{
	width: 23px;
	height: 23px;
	cursor: pointer;
	margin-left: 10px;
}

#option{
	margin-right: 5px;
	cursor: pointer;
}

#container{
	width: 90%;
	height: 478px;
	font-size: 14px;
}

#img_list_container{
	display: flex;
	align-items: flex-end;
	flex-wrap: nowrap;
	height: 60px;
	gap: 5px;
	overflow-x: scroll;
}

#img_list_container::-webkit-scrollbar {
  display: none;
}

.img_container{
	width: 50px;
	height: 50px;
}

#camera{
	width: 38px;
	height: 32px;
}

#sell_date_label{
	display: flex;
	justify-content: space-around;
	width: 172px;
}

textarea{
	width: 164px;
	height: 168px;
	resize: none;
	overflow-y:hidden;
}

input[type="submit"] {
	margin-left: 100px;
	background-color: #FFD9AC;
	border: none;
	cursor: pointer;
	width: 90px;
	height: 35px;
	border-radius: 5px;
	font-size: 20px;
}

.img_container label{
	text-align: center;
	cursor: pointer;
}

#input_file{
	display:none;
}
#nav_bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: #FFB966;
	border-radius: 0 0 17px 17px;
}