.img {
  width: 23px;
  height: 23px;
  
}






#top{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: inherit;
	height: 40px;
    position: absolute;
	transform:translateY(-350%);
	display:flex;
	flex-wrap: wrap-reverse;
	
}
#top h1{
	margin-left: 5px;
	font-size: 20px;
	font-weight: 600;
}
#top > img{
	width: 23px;
	height: 23px;
	cursor: pointer; 
}



#top-head {
  font-size: 20px;
  font-weight: 600;
}


.container {
    display : grid;
    grid-template-rows: 200px 40px 40px 40px 60px 198px;
	display:flex;
	align-items:space-between;
}

.findPasswordH1 {
    grid-area : 1/1/2/2;
    display : flex;
    justify-content : center;
    top:-100px;
    margin-top: 50%;
}




.addUserId{
    grid-area : 2/1/3/2;
    display : flex;
    justify-content : center;
    transform: translateX(-1px);
    margin-top:20px;
}


.addName{
    grid-area : 3/1/4/2;
    display : flex;
    justify-content : center;

    transform: translateY(8px);
    margin-top:5px;
}

.addEmail{
    grid-area : 4/1/5/2;
    display : flex;
    justify-content : center;
    transform: translateY(8px);
    transform: translateX(-5px);
    margin-top:5px;
}

input:focus {outline: none;}


.findPasswordBtn{
    grid-area : 5/1/6/2;
    display:flex;
    justify-content : center;
    

   
}

.container{
	transform: translateX(-8px);
	
}

.fontFindPasswordH1{
	font-size: 2em; font-weight: bold;
}


.lgbt{
    color:#FFFFFF;
    background-color:#FFB966;
    border:none;
    border-radius:5px;
    font-size:1.75em;
    padding:90px 30px;
}

