input {
	background-color: #D9D9D9;
	border: none;
	border-radius: 10px;
	width: 10em;
	height: 2em;
}

.loginH1 {
	grid-area: 1/1/2/2;
	display: flex;
	justify-content: center;
	margin-top: 40%;
}

.fontLoginH1 {
	font-size: 2em;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #000000;
	font-size: 10px;
}

#linkA {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.inputTxt {
	background-color: #D9D9D9;
	border: none;
	border-radius: 10px;
}

.fontTxt {
	font-size: 0.8em;
}

.addUserId {
	grid-area: 2/1/3/2;
	display: flex;
	justify-content: center;
	transform: translateX(8px);
	margin-top: 20px;
}

.addPassword {
	grid-area: 3/1/4/2;
	display: flex;
	justify-content: center;
	transform: translateY(8px);
	margin-top: 5px;
}

input:focus {
	outline: none;
}

#findRegisterTxt {
	grid-area: 4/1/5/2;
	display: flex;
	justify-content: space-between;
	transform: translateX(40%);
	width: calc(60% - 8px);
}

.loginBtn {
	grid-area: 5/1/6/2;
	display: flex;
	justify-content: center;
	padding: 1em 3em;
	font-size: 1.75em;
}

.lgbt {
	color: #FFFFFF;
	background-color: #FFB966;
	border: none;
	border-radius: 5px;
	padding: 0.5em 1.5em;
}