
.img{
  width: 23px;
  height: 23px;

}



#top{
	grid-area: 1/1/2/2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: inherit;
	height: 40px;
    position: absolute;
	transform:translateY(-650%);
	display:flex;
	flex-wrap: wrap-reverse;

}
#top h1{
	margin-left: 5px;
	font-size: 20px;
	font-weight: 600;
}
#top > img{
	width: 23px;
	height: 23px;
	cursor: pointer; 
}



#top-head {
  font-size: 20px;
  font-weight: 600;
}


.container {
	

}

.setPWH1 {
    grid-area : 1/1/2/2;
    display : flex;
    justify-content : center;
    margin-top: -30%;
}




.setPW{
    grid-area : 2/1/3/2;
    display : flex;
    justify-content : center;
    transform: translateX(5px);
    margin-top:20px;
}


.checkPassword{
    grid-area : 3/1/4/2;
    display : flex;
    justify-content : center;
	white-space:nowrap;
    transform: translateY(8px);
    margin-top:10%;
}

input:focus {outline: none;}


.setPWBtn{
    grid-area : 4/1/5/2;
    display:flex;
    justify-content : center;
    
    padding:1em 3em;
    font-size:1.75em;
}

.container{
	transform: translateX(-8px);
	
}





.fontFindPasswordH1{
	font-size:2em; font-weight:bold;
}

.inputNewPW{
	background-color:#D9D9D9; 
	border:none; 
	border-radius:3px; 
	width:200px; 
	height:35px;
}
.inputNewPWCheck{
	background-color:#D9D9D9; 
	border:none; 
	border-radius:3px; 
	width:200px; 
	height:35px;
}

.lgbt{
    color:#FFFFFF;
    background-color:#FFB966;
    border:none;
    border-radius:5px;
    padding:0.8em 2.5em;
}

